body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

.top{
	color: red;
}

.toyTable{
	width: 100%;
}
img.rating {
	width: 100px;
}
img.productImage{
	width: 140px;
	border-radius: 5px;
	}
tr.greyed {
	background-color: #d9d9d9;
}
tr.greyed >th {
	background: white;
}
.price {
	color: red;
}

#productTiles {
	display: inline-block;
	width: 28%;
	padding: 1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.stars {
	width: 8em;
}

.productList {
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-gap: 10px;
	grid-auto-rows: 2em 1em 1em 1em 3em;
	margin: 1em;
	text-align: left;
}

#listImage {
	width: 10em;
	align-self: center;
	grid-column: 1;
	grid-row: 1/6;
}

#listName {
	grid-column: 2;	
	grid-row: 1
}

#listManufacturer{
	grid-column: 2;
	grid-row: 2;
}

#listPrice{
	grid-column: 2;
	grid-row: 3;
}

#listWeight{
	grid-column: 2;
	grid-row: 4;
}

#listRating{
	grid-column: 2;
	grid-row: 5;
	align-self: center;
}
#detailContainer{
	display: grid;
	grid-template-columns: 50% 1fr;
	grid-gap: 10px;
	grid-auto-rows: 2em .5em 1em 1em .5em 3em;
	text-align: left;
	margin: 1em;
}

#detailImage{
	width: auto;
	height: auto;
}

#detailImageDiv{
	grid-column: 1;
	grid-row: 1/;
}

#detailName{
	grid-column: 2;
	grid-row: 1;
}

#detailManufacturer{
	grid-column: 2;
	grid-row: 2;
}

#detailRating{
	grid-column: 2;
	grid-row: 3;
}

#detailPricing{
	grid-column: 2;
	grid-row: 4;
}

#detailWeight{
	grid-column: 2;
	grid-row: 5;
}

#detailDescription{
	grid-column: 2;
	grid-row: 6;
}